@import url('https://fonts.cdnfonts.com/css/butler');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid #A3B18A 1px;
    font-family: 'Butler', sans-serif;
    font-size: 16px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 175px;
}

nav a {
    position: relative;
    color: #3A5A40;
    text-decoration: none;
}

nav a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #B78451;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

nav a:hover {
    color: #B78451;
}

nav a:hover::before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

main {
    display: flex;
    margin-top: 25px;
    gap: 25px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

main img {
    width: 100%;
}

main div {
    display: flex;
    justify-content: start;
    align-items: start;
    width: 80%;
    /* padding-left: 124px; */
}

main div input {
    width: 267px;
    height: 34px;
    border-radius: 5px;
    border: solid 1px #B9B5A6;
    background-image: url(/src/assets/images/search.svg);
    background-repeat: no-repeat;
    background-position: calc(5%);
    padding-left: 35px;
    box-shadow: 0px 1.66026px 5.57532px 0.3726px rgba(0, 0, 0, 0.25);
    transition: border-color 0.5s ease-in;
}

main div input:focus {
    outline: none;
    border: 1.5px solid #3A5A40;
}

.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 112px;
    gap: 60px;
    font-family: 'Butler', sans-serif;
}

.hero-container a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: black;
    font-family: "Inter", sans-serif;
    gap: 10px;
    transition: 1s all ease;
}

.hero-container a:hover {
    color: #4F4E4D;
}

.hero-description {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}

.hero-description h2 {
    font-weight: 800;
    font-size: 16px;
    text-align: center;
}

.hero-description h1 {
    font-size: 48px;
    width: 428px;
    text-align: center;
}

.hero-description p {
    text-align: center;
    font-size: 18px;
    width: 768px;
    font-family: "Inter", sans-serif;
    line-height: 150%;
}

.hero-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card h1 {
    width: 405px;
    font-family: 'Butler';
    font-size: 32px;
    line-height: 130%;
    text-align: center;
    letter-spacing: -0.01em;
}

.card p {
    width: 405px;
    font-family: 'Butler';
    font-size: 16px;
    line-height: 150%;
    text-align: center;
}

.card img {
    width: 30vw;
    height: auto;
}

.benefits {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 45px;
    gap: 20px;
    background-color: #3A5A40;
}

.benefits-container {
    display: flex;
    flex-direction: column;
    gap: 57px;
}

.benefits-container h1 {
    font-size: 48px;
    font-weight: 400;
    font-family: 'Butler', sans-serif;
    color: #F8F8F6;
}

.benefits-container p {
    font-size: 20px;
    font-weight: 500;;
    font-family: 'Butler', sans-serif;
    color: #F8F8F6;
}

.cards-benefit {
    display: flex;
    gap: 10px;
}

.cards-benefit h1 {
    font-size: 20px;
    font-weight: 400;
    font-family: 'Butler', sans-serif;
    color: #000000;
}

.cards-benefit p {
    font-size: 16px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    color: black;
}

.cards-benefit {
    background-color: #F8FFDE;
    width: 579.08px;
    height: 164.5px;
}

